/*Creates the graph box.*/
.BodyBox-graph {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    height: 85%;
    width: 85%;
    background-color: var(--light-grey);
    border: 6px solid var(--dark-blue);
    overflow: hidden;
}

/*Graph upper and graph lower split the graph into 2 parts so that bars of a currency value greater than 100% of a USD will not protrude beyond the top of the graph. A border-bottom on graph upper is used to create the dashed line indicating the value of 1 USD. */
.BodyBox-graph-upper {
    height: 21%;
    width: 100%;
    text-align: center;
}

.ContainerOfGraphLower {
    height: 79%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    
}

.BodyBox-graph-lower {
    height: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    transition: height .5s;
}
