/*The bars are placed in graph lower. They have a padding transition.*/
.BodyBox-graph-lower-bar {
    transition: padding-left 1.5s, padding-right 1.5s, padding-bottom 1.5s;
    width: 13%;
    background-color: var(--dark-grey);
    text-align: center;
    border-top: 2px solid var(--dark-blue);
    border-left: 2px solid var(--dark-blue);
    border-right: 2px solid var(--dark-blue);
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 12%;
    opacity: 1;
    transition: padding 2s;
}

/*The bars grow in size on hover.*/
.BodyBox-graph-lower-bar:hover {
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
}

/*Invisible text is placed in each bar with opacity 0.*/
.BodyBox-graph-lower-bar-invisibleText {
    opacity: 0;
    transition: opacity 2s;
    font-size: 18px;
}

/*Opacity transitions to 1 to make text visible on hover.*/
.BodyBox-graph-lower-bar:hover .BodyBox-graph-lower-bar-invisibleText {
    opacity:1;
}

/*Graph bars alternate color.*/
.BodyBox-graph-lower-bar:nth-child(even) {
    background-color: var(--medium-grey);
}
